<div class="leftSlider" [@openhamburger]="this.currentState">
  <div
    class="container"
    [ngClass]="changeStateIcon"
    (click)="changeIcon(); changeState()"
  >
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <div class="wrap_slider">
    <ul>
      <li><a [routerLink]="['/login']">Login</a></li>
      <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
      <li>contact us</li>
    </ul>
  </div>
</div>

<div class="main" [@openbackground]="this.currentState">
  <router-outlet></router-outlet>
</div>
